meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Comunicación visual
meta(meta name="description" content="La comunicación visual, como disciplina de las ciencias humanas y sociales unida a las vertientes tecnológicas y sociales, es considerada la vía para llegar al público de una manera directa, su atención se centra en las imágenes antes que las palabras, de allí «una imagen vale más que mil palabras».")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")