h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li
                span 
                    | #[strong 291301077-02]
                    br
                    | Elaboración de piezas gráficas.
            li.mb-0
                span 
                    | #[strong 291301077-03]
                    br
                    | Elaborar bocetos teniendo en cuenta el brief, línea de diseño y derechos de autor.




