h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Definición y principios de comunicación visual', 'main.html#page/tema_1/')
                    +navTemaItem('2', 'Propiedad intelectual y derechos de autor', 'main.html#page/tema_2/')
                    +navTemaItem('3', 'Teoría del color', 'main.html#page/tema_3/')
                    +navTemaItem('4', 'Bocetación', 'main.html#page/tema_4/')