.container

    .header-ecored
        h1 1. Definición y principios de comunicación visual

    .jumbotron.bg-white.shadow

        .d-flex.justify-content-center.mb-4
            .w-75
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-1/img01.svg")
            
                p.text-center.mb-4 Se define como el arte de transmitir ideas o información con imágenes, símbolos o signos, pero también va más allá y ofrece nuevas experiencias.

                hr.hrC

        .row.bg-03.rounded.mb-6.d-flex
            .col-12.col-md-5.bg-02.d-flex.justify-content-center.align-items-center
                .quote
                    img.imgLeft(src="assets/images/icons/quote_02.svg")
                    h1.mb-2.text-white #[strong Para Munari (1985)] la comunicación visual es todo lo que ven nuestros ojos, una flor, una nube, una bandera, un dibujo etc. 
                    img.imgRigth(src="assets/images/icons/quote_02.svg")
            .col-12.col-md-7.d-flex.justify-content-center.align-items-center.position-relative
                .element2.bg-02
                div.zIndex
                    p.bg-white.rounded.m-4.p-4.zIndex Toda imagen que tiene un valor según su contexto. Dado que se le está otorgando valor comunicativo a lo que puede percibirse con la vista, se debe aclarar que algunos mensajes serían casuales y otros intencionales; la comunicación visual casual, es la que no tiene intención alguna, esta es temporal y puede ser percibida o interpretada libremente por el receptor, dándole un significado científico o estético; por su parte la comunicación visual intencional es recibida en pleno significado con una intención del emisor, si bien la intencionalidad no libra al receptor de realizar interpretaciones.
        
        h2.text-center.tc01.mb-5 Los mensajes intencionales pueden ser vistos desde dos aspectos: 

        .row.mb-6.justify-content-center
            .col-12.col-md-6.bg-04.p-4.text-white
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-1/img02.png")
                h1.text-center INFORMACIÓN PRÁCTICA
                p.text-center.mb-0 Líneas armónicas, relaciones volumétricas, construcciones tridimensionales, entre otras.
            .col-12.col-md-6.bg-02.p-4.tc02
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-1/img03.png")
                h1.text-center INFORMACIÓN ESTÉTICA
                p.text-center.mb-0 Dibujo técnico, una fotografía, las noticias, una señal.

        .d-flex.justify-content-center.mb-4
            .w-75
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-1/img04.svg")
            
                p.text-center.mb-4 De acuerdo con los principios y funciones de la comunicación visual, en el proceso comunicativo se reconocen:

                hr.hrC
        
        .row
            .col-12.col-lg-6
                .row.p-4.d-flex.align-items-start
                    .col-4
                        img.img-fluid(src="assets/images/pages/tema-1/img05.svg")
                    .col-8
                        h2.tc02 Emisor
                        p Persona u objeto que crea el mensaje, lo codifica en un sistema de símbolos que comparte, debe ser claro para ser entendido.
            .col-12.col-lg-6
                .row.p-4.d-flex.align-items-start
                    .col-4
                        img.img-fluid(src="assets/images/pages/tema-1/img06.svg")
                    .col-8
                        h2.tc02 Canal
                        p Medio empleado por el emisor, con el mínimo de errores para que el mensaje sea efectivo y objetivo.

            .col-12.col-lg-6
                .row.p-4.d-flex.align-items-start
                    .col-4
                        img.img-fluid(src="assets/images/pages/tema-1/img07.svg")
                    .col-8
                        h2.tc02 Mensaje
                        p Conjunto de signos, símbolos o señales como objeto de una comunicación.
            .col-12.col-lg-6
                .row.p-4.d-flex.align-items-start
                    .col-4
                        img.img-fluid(src="assets/images/pages/tema-1/img08.svg")
                    .col-8
                        h2.tc02 Receptor
                        p Quien recibe el mensaje, debe conocer los signos con el objetivo de comunicar el mensaje. Es activo cuando decodifica, y reproduce, también reelabora el mensaje y le puede añadir su experiencia, opiniones y cultura (Santos, 2012).
        
        hr.hrC.mb-5

        .row
            .col-12.col-md-6.bgImg109.position-relative
                .ContAbs1.tc02.bg-white.p-4.rounded
                    p.m-0 
                     | Título de la obra: Summer
                     br
                     | Creador: Giuseppe Arcimboldo
                     br
                     | Fecha de creación: 1563
            .col-12.col-md-6.position-relative
                .element1
                p.bg-03.p-4 La comunicación visual, comprende todos los medios expresivos de las artes visuales y permiten a los artistas la creación de las formas en sus composiciones mediante la utilización de diferentes técnicas, materiales, e implementos, sobre una variedad de soportes, que le permitirán manifestar sus ideas, emociones, sentimientos, experiencias, etc. y con ello provocar una reacción en el receptor del mensaje visual.
                p.px-4 Por su parte, las obras artísticas se conectan con un tipo específico de lenguaje, el lenguaje visual son las artes visuales y permiten a los artistas la creación de las formas en sus composiciones mediante materiales, implementos y técnicas identificando propiedades y cualidades expresivas de las imágenes visuales. Cada elemento creador no es solo una forma, sino que se configuran una serie de relaciones que se crean entre todos los elementos visuales que la componen y las interrelaciones de estos elementos, como la figura con respecto al plano o al espacio o fondo.

    .header-ecored#tema1_1
        h1 1.1 Funciones de la comunicación visual

    .jumbotron.bg-white.shadow

        .row.d-flex
            .col-12.col-lg-4.d-flex
                .row
                   .col-12.col-md-7.col-lg-12.d-flex.justify-content-start
                        h2.tc03 Se corresponden con las funciones generales de la comunicación, pero relacionadas directamente con los elementos que permiten la comunicación visual.
                   .col-12.col-md-5.col-lg-12.mb-4.d-flex.justify-content-center
                        img.img-fluid(src="assets/images/pages/tema-1/img09.svg")
            .col-12.col-lg-8
                table.table01
                    tbody
                        tr
                            td.font-weight-bold Funci&oacute;n expresiva o emotiva
                            td Uso de im&aacute;genes para transmitir emociones
                        tr
                            td.font-weight-bold Funci&oacute;n conativa, apelativa o exhortativa
                            td Funci&oacute;n relacionada con la persuasi&oacute;n, cuyo objetivo es convencer, ejemplo la publicidad.
                        tr
                            td.font-weight-bold Funci&oacute;n referencial o informativa
                            td Son im&aacute;genes cuyo objetivo es informar. Ejemplo la prensa, as&iacute; como tambi&eacute;n en se&ntilde;ales de tr&aacute;fico.
                        tr
                            td.font-weight-bold Funci&oacute;n po&eacute;tica o est&eacute;tica
                            td B&uacute;squeda de la belleza con sentido art&iacute;stico y est&eacute;tico.
                        tr
                            td.font-weight-bold Funci&oacute;n f&aacute;tica
                            td Tiene como objetivo llamar la atenci&oacute;n, connota algo. Ejemplo mensajes publicitarios.
                        tr
                            td.font-weight-bold Funci&oacute;n metaling&uuml;&iacute;stica
                            td Funci&oacute;n referente al c&oacute;digo, para otorgarle un significado. El receptor descifra los c&oacute;digos empleados para comprender la significaci&oacute;n de la imagen.
                        tr
                            td.font-weight-bold Funci&oacute;n descriptiva
                            td Funci&oacute;n de informar detallada y objetiva sobre lo representado. Ejemplo dibujos cient&iacute;ficos, mapas, entre otros.

    .header-ecored#tema1_2
        h1 1.2 Imagen y sociedad

    .jumbotron.bg-white.shadow

        .w-75.d-block.mx-auto
            .row.mb-5
                .col-12.col-lg-5.mb-4
                    img.img-fluid(src="assets/images/pages/tema-1/img10.svg")
                .col-12.col-lg-7.d-flex.justify-content-center.align-items-center
                    p Tanto las artes visuales como la comunicación visual son consideradas fundamentales para el desarrollo de la capacidad del individuo de percibir e interpretar críticamente las formas y las imágenes del entorno del individuo. Todos los objetos, espacios y comunicaciones visuales van más allá de la utilidad comercial o de uso (Machuca, 2011).
            
            .row
                .col-12.col-lg-5.mb-4.d-flex.justify-content-center.align-items-center
                    img.img-fluid(src="assets/images/pages/tema-1/img11.svg")
                .col-12.col-lg-7.d-flex.justify-content-center.align-items-center
                    div
                        h2.mb-0.tc02 Amarillo:
                        p Representa la riqueza del suelo colombiano, así como el sol, fuente de luz, y la soberanía, la armonía y la justicia.
                        hr.hrC.my-3

                        h2.mb-0.tc02 Azul:
                        p Representa el cielo que cubre la Patria, los ríos y los dos océanos que bañan el territorio colombiano.
                        hr.hrC.my-3

                        h2.mb-0.tc02 Rojo:
                        p Representa el cielo que cubre la Patria, los ríos y los dos océanos que bañan el territorio colombiano.
                        hr.hrC.my-3
    
    .header-ecored#tema1_3
        h1 1.3 El mensaje visual y su descomposición

    .jumbotron.bg-white.shadow
        
        .w-75.d-block.mx-auto.mb-6
            p.text-center El mensaje visual se descompone en soporte visual que, a su vez, debe tener módulo, textura, estructura, movimiento y forma; y la otra parte es la información, la cual lleva consigo el mensaje.
        
        img.img-fluid.mb-6(src="assets/images/pages/tema-1/img12.svg")

        .row.bg-03.rounded.mb-6
            .col-12.col-md-5.bg-07.d-flex.justify-content-center.align-items-center
                .quote
                    img.imgLeft(src="assets/images/icons/quote_01.svg")
                    h1.mb-2.text-white #[strong Para Munari (1985),] los mensajes visuales actúan sobre los sentidos, ya sean sonoros, térmicos, dinámicos entre otros.
                    img.imgRigth(src="assets/images/icons/quote_01.svg")
            .col-12.col-md-7.d-flex.justify-content-center.align-items-center.position-relative
                div
                    .element2.bg-07
                    .row.bg-white.rounded.m-4.p-4.d-flex.justify-content-center.zIndex
                        .col-12.col-lg-8
                            p.mb-0 De allí que el emisor emite mensajes y el receptor los recibe, pero el receptor está inmerso en un ambiente con interferencias, las cuales pueden alterar o anular dicho mensaje.
                        .d-none.d-lg-block.col-12.col-lg-4.mt-4.mt-lg-n6
                            img.img-fluid.AbsB0(src="assets/images/pages/tema-1/img13.svg")

        img.img-fluid.d-block.mx-auto.mb-5(src="assets/images/pages/tema-1/img14.svg")

        .w-75.d-block.mx-auto.mb-5
            p.text-center EUna vez emitido el mensaje al receptor, se encontrarán otros obstáculos, cada receptor interpreta el mensaje de manera diferente, ello debido a que cada individuo tiene “filtros”, por los cuales ha de pasar el mensaje para que sea recibido.

            p.text-center Estos filtros son: 

        .row.d-flex.mb-5
            .col-12.col-md-4.my-2
                .bg-05.m-n2.p-3.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.my-4(src="assets/images/pages/tema-1/img15.svg")
                    h2.text-center SENSORIAL
                    p.text-center Son las características físicas que el receptor tiene y que le permitirán recibir el mensaje. Cómo problemas de visión, impedimento físico, entre otros.
            .col-12.col-md-4.my-2
                .bg-08.text-white.m-n2.p-3.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.my-4(src="assets/images/pages/tema-1/img16.svg")
                    h2.text-center OPERATIVO
                    p.text-center Son las características constitucionales del receptor, es decir como la edad, el género, el contexto de desarrollo, las diferentes situaciones que enfrenta.
            .col-12.col-md-4.my-2
                .bg-05.m-n2.p-3.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.my-4(src="assets/images/pages/tema-1/img17.svg")
                    h2.text-center FILTRO CULTURAL
                    p.text-center Permite el paso de aquello que el receptor reconoce, están relacionados con la religión, filosofía, valores y creencias. Pues cada individuo tiene diferentes sistemas de creencias que determinarán si el mensaje llega a impactan positiva o negativamente.

        h2.tc01.text-center.mb-4 Como sabemos el mensaje se compone de:

        .row.justify-content-center.mb-5
            .col-4.col-lg-2.my-2.d-flex.justify-content-center
                .bg-04.text-white.borderCircle.p-4.d-flex.justify-content-center.align-items-center
                    h2.mb-0 Módulo
            .col-4.col-lg-2.my-2.d-flex.justify-content-center
                .bg-04.text-white.borderCircle.p-4.d-flex.justify-content-center.align-items-center
                    h2.mb-0 Estructura
            .col-4.col-lg-2.my-2.d-flex.justify-content-center
                .bg-04.text-white.borderCircle.p-4.d-flex.justify-content-center.align-items-center
                    h2.mb-0 Movimiento
            .col-4.col-lg-2.my-2.d-flex.justify-content-center
                .bg-04.text-white.borderCircle.p-4.d-flex.justify-content-center.align-items-center
                    h2.mb-0 Forma
            .col-4.col-lg-2.my-2.d-flex.justify-content-center
                .bg-04.text-white.borderCircle.p-4.d-flex.justify-content-center.align-items-center
                    h2.mb-0 Textura
        
        p.text-center.mb-5 Módulo, estructura, movimiento, forma y textura. De la cual se componen todos los elementos que se encuentran en nuestro alrededor, tal como lo muestra la siguiente imagen: 

        .row.mb-4
            .col-12.col-md-4.text-right.tc02
                h2 Identificación de los elementos que comunican en un elemento
                p Según Dondis (2017), en el proceso de comunicación nos expresamos y recibimos mensajes visuales en 3 niveles:
                br
                h3 Representacionalmente
                p Lo que se ve y se reconoce del entorno y la experiencia.
                h3 Abstractamente
                p Cualidad cenestésica de un hecho visual reducido a sus componentes visuales y elementales del mensaje.
                h3 Simbólicamente
                p El universo de sistemas de símbolos codificados creados por el hombre arbitrariamente, a los que se les asigna significado.
            .col-12.col-md-8
                img.img-fluid(src="assets/images/pages/tema-1/img18.png")

        p.text-center.mb-5 Estos niveles de información se solapan y se interconectan en la conformación de mensajes:

        .divBG.divBG01.d-flex.justify-content-end
            .divCont.bg-white.shadow
                h3 La representación
                p.mb-0 Experiencia visual compartida por todos los individuos de una misma cultura, obtenida en diversos niveles de experiencia.
        .divBotCont.mb-4
            p.mb-0 Foto de la Catedral de Bogotá, quien conoce el sitio emblemático, lo reconoce en la imagen.

        .divBG.divBG02.mb-4
            .divCont.bg-white.shadow
                h3 El efecto realista
                p.mb-0 Dado por la experiencia desde el punto de vista de otra persona, como un boceto, una fotografía. El mensaje puede modificarse de manera subjetiva.
        
        .divBG.divBG03.d-flex.justify-content-end
            .divCont.bg-white.shadow
                h3 La realidad
                p.mb-0 Expresada por pintores o artistas junto con la inspiración y los métodos.
        .divBotCont.mb-4
            p.mb-0 Título de la obra: The Little Shepherdess. Creador: William Adolphe Bouguereau. Fecha de creación: 1889.

        .divBG.divBG04.mb-4
            .divCont.bg-white.shadow
                h3 La fotografía
                p.mb-0 Medio de representación de la realidad visual mediante la técnica, es el registro visual que se pretende representar lo más fiel posible a la realidad.

        .divBG.divBG05.d-flex.justify-content-end
            .divCont.bg-white.shadow
                h3 Simbolismo
                p.mb-0 La abstracción de símbolos con la intención de transmitir un mensaje efectivo con cierta cantidad de información.

        .header-ecored
            h2 1.3.1 Elementos de diseño y comunicación visual
        
        p.text-center.mb-5 De acuerdo con Díaz (2019), los elementos del mensaje visual son la base de la comunicación visual, estos son:

        .row.d-flex.justify-content-start
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img24.png")
                h3 Línea punto y formas
                p.mb-0 Da origen a múltiples elementos.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img25.png")
                h3 Tipografía
                p.mb-0 Aportan a la construcción del mensaje de manera escrita junto con la identidad.

        .row.d-flex.justify-content-end
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img26.png")
                h3 Línea punto y formas
                p.mb-0 Da origen a múltiples elementos.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img27.png")
                h3 Tipografía
                p.mb-0 Aportan a la construcción del mensaje de manera escrita junto con la identidad.
    
    .header-ecored#tema1_4
        h1 1.4 Análisis y percepción de la imagen

    .jumbotron.bg-white.shadow

        .w-75.mx-auto
            h2.text-center.mb-5.pS28L Los ojos realizan su función fotorreceptora y el cerebro está continuamente interpretando información,

        .row.mb-4
            .col-12.col-md-6
                p de allí que es necesario que el mensaje visual intencional destaque frente a todos los demás mensajes. De esta manera, la percepción se define como el ejercicio de asimilar el entorno a través de los sentidos, recurriendo a la experiencia para dar significado a lo observado. Pero algunas veces esta percepción es un engaño, hacemos referencia a las imágenes que son creadas con ilusiones ópticas,
            .col-12.col-md-6
                p las cuales son interpretaciones del cerebro generadas por ciertos efectos en la percepción, en la cual las imágenes son percibidas como errores o interpretación contraria a la misma lógica. Estas distorsiones suelen ser en el color, la perspectiva, formas, o mezclas entre estas; lo que permite explotar recursos gráficos convirtiéndose en medios de construcción de ideas, conceptos e imágenes novedosas y desafiantes para el lector.
        
        h2.text-center.tc01.mb-5 Observe como la imagen parece tener movimiento por sí sola.
        
        img.img-fluid.mb-4(src="assets/images/pages/tema-1/img28.png")
        
    .header-ecored#tema1_5
        h1 1.5 Semiótica, retórica y sintaxis de la imagen

    .jumbotron.bg-white.shadow

        .row.mb-4
            .col-12.col-md-5
                h2.tc03 La semiótica de la imagen es el estudio del signo icónico y los procesos de significación o dación de sentido (dar sentido a algo) a partir de una imagen.
            .col-12.col-md-7
                p El estudio de las imágenes y las comunicaciones visuales es muy amplio y va más allá de lo pictórico o visual; como lo son el análisis de color, forma, iconos y composición, entre otros, ciertamente las imágenes hacen y deben ser parte de la cultura; de ahí la importancia de reflexionar cómo se construyen en los procesos de comunicación visual.
        
        p.text-center.mb-5 En la semiótica visual, se puede identificar tres áreas:

        .row.text-center.justify-content-center.mb-5
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img29.png")
                h3 La semiótica de la imagen estática
                p.mb-0 (imágenes icónicas, indiciales, simbólicas, estéticas).
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img30.png")
                h3 La semiótica de la imagen dinámica
                p.mb-0 (lenguaje braille, la mímica, la radio).
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img31.png")
                h3 Una semiótica visual, relacionado con el espacio
                p.mb-0 (arquitectura, arte).

        .w-75.mx-auto
            .text-center.mb-5 La articulación de los códigos visuales pasa por tres componentes o niveles:
        
            .row.mb-4
                .col-12.col-md-6
                    img.img-fluid.mb-3(src="assets/images/pages/tema-1/img32.png")
                .col-12.col-md-6.tc02
                    h3.mb-0 Las figuras
                    p Condiciones de percepción, luz, forma, contorno, geometría, etc.
                    br
                    h3.mb-0 Los signos icónicos
                    p Denotan artificios gráficos o elementos reconocidos como escalera, persona.
                    br
                    h3.mb-0 El enunciado icónico
                    p El elemento receptor colocado desde una perspectiva. Persona solitaria mirando a lo lejos con expresión triste.
        
        .row.bg-03.rounded.mb-6
            .col-12.col-md-5.bg-02.d-flex.justify-content-center.align-items-center
                .quote
                    img.imgLeft(src="assets/images/icons/quote_01.svg")
                    h1.mb-2.text-white #[strong Para Karam (2006)] la retórica de la imagen se refiere a la efectividad y a la naturaleza persuasiva del lenguaje.
                    img.imgRigth(src="assets/images/icons/quote_01.svg")
            .col-12.col-md-7.d-flex.justify-content-center.align-items-center.position-relative
                div
                    .element2.bg-02
                    .row.bg-white.rounded.m-4.p-4.d-flex.justify-content-center.zIndex
                        .col-12.col-lg-8
                            p.mb-0 Estos pueden darse en la publicidad, la prensa o cualquier otro medio donde el lector atribuya valores de verdad y confianza.
                        .d-none.d-lg-block.col-12.col-lg-4.mt-4.mt-lg-n6
                            img.img-fluid.AbsB0(src="assets/images/pages/tema-1/img33.png")
        
        p En ella se diferencian tipos de análisis, las figuras o tropos o usos figurados, casi imaginativos o comparativos del lenguaje. Las figuras retóricas son los tipos de modificaciones hechas al lenguaje para proporcionar variedad, fuerza y belleza para transmitir el mensaje con contundencia. Entre sus funciones están el reforzar un mensaje, transmitir emociones, destacar un tema, generar una reflexión, causar asombro, etc.

        .row.mb-4.justify-content-center
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img34.png")
                h3 Alusión
                p Referencia corta e informal de una persona, evento, lugar o situación reconocida, sin mencionarla directamente. 
                p En esta imagen hace alusión a la muerte.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img35.png")
                h3 Antítesis
                p Oposición o contraste de palabras o ideas, contrarias o complementarias. 
                p
                    | "Un pequeño paso para el hombre, un gran paso para la humanidad". 
                    br
                    | #[i Neil Armstrong.]
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img36.png")
                h3 Clímax
                p Dar orden a las palabras, fragmentos u oraciones de forma ascendente de acuerdo con su nivel de importancia.
                p Añade dramatismo al discurso ya que suele explotar la sensación o emoción positiva o negativa alcanzado su punto máximo.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img37.png")
                h3 Epifonema
                p Afirmación contundente al final de la exposición de una idea, en forma de exclamación, que sirve de resumen, siendo breve y preciso.
                p
                    | "Porque ese cielo azul que todos vemos, pues ni es cielo, ni es azul”.
                    br
                    | #[i Hermanos Argensola.]
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img38.png")
                h3 Epíteto
                p Expresa cualidades al sustantivo que todos pueden distinguir, o evidenciar; limitándose a describirlo o a definirlo, resaltando algunas de sus características.
                p Tomate rojo.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img39.png")
                h3 Eufemismo
                p Sustitución de una imagen o palabra que expresa algo desagradable u ofensivo, para ser cambiada por una menos negativa. 
                p En las imágenes se suelen realizar efectos para no ser tan evidente la expresión.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img40.png")
                h3 Disfemismo
                p Sustitución de una palabra o imagen con expresión neutral o positiva por una de connotaciones negativas.
                p Los elementos pueden ser cambiados o no ser tan evidentes.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img41.png")
                h3 Hipérbole
                p Exageración de un término o una idea utilizada para transmitir una actitud. 
                p Denota cantidad, tamaño, entre otras; que generalmente distorsiona la realidad.
                p Me estoy muriendo de hambre.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img42.png")
                h3 Ironía
                p Afirmación de un hecho aparente con el propósito de expresar la intención opuesta.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img43.png")
                h3 Oxímoron
                p Presentar dos términos o expresiones contrarias o incoherentes juntas.
                p Los muertos vivientes.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img44.png")
                h3 Paradoja
                p Unión de dos ideas opuestas y contradictorias, que parecen no tener sentido, pero que implícitamente incluyen una idea válida.
                p El tiempo es relativo.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img45.png")
                h3 Perífrasis
                p Referirse a un concepto o idea sin hacer referencia a este directamente utilizando otras palabras para describirlo e inferir aquello que se pretende comunicar. 
                p El supremo creador del cielo y de la tierra, para decir: Dios.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img46.png")
                h3 Personificación
                p Atribuir a objetos inanimados o animales cualidades humanas, acciones o elementos de personalidad.
                p Personajes, superhéroes.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img47.png")
                h3 Reticencia
                p Presentar una información incompleta, con el objetivo de insinuar algo.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img48.png")
                h3 Metáfora
                p Comparación implícita de dos términos a partir de la semejanza de sus significados estableciendo una relación.
                p El sueño eterno. (La muerte).

            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img49.png")
                h3 Alegoría
                p Metáfora extendida o sucesión de metáforas para expresar una idea. La alegoría pertenece al grupo de figuras de los tropos.
                p ¿Por qué este inquieto abrasador deseo?.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img50.png")
                h3 Antonomasia
                p Expresión reconocida comúnmente que hace referencia a un nombre propio. 
                p Ciudad de la Luz, para nombrar a París.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img51.png")
                h3 Metonimia
                p Reemplazar el nombre de un elemento por otro con el que se relaciona, o existe una relación de dependencia, causa – efecto.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img52.png")
                h3 Símil
                p Comparación explícita a partir del uso de un elemento no literal, sino con semejanza de sus características con las de otro que no tiene una relación aparente.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img53.png")
                h3  Sinécdoque
                p Utilizar todo para representar una parte o viceversa. 
                p Tersa como fresa.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img54.png")
                h3 Concatenación 
                p Repetición de palabras en cadena, que guardan una relación entre si, para crear una secuencia o conjunto.
        
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img55.png")
                h3 Asíndeton
                p Omisión de conjunciones, se eliminan las relaciones para hacerlas más cortas y fácil de leer.
            .col-6.col-md-4.p-3
                img.img-fluid.mb-4(src="assets/images/pages/tema-1/img56.png")
                h3 Hipérbaton 
                p Alteración del orden lógico de la oración.
                p Pura leche.



