.container

    .header-ecored
        h1 2. Propiedad intelectual y derechos de autor 

    .jumbotron.bg-white.shadow

        .w-75.mx-auto
            .row.mb-4
                .col-12.col-md-4
                    h2.tc02 Para la Superintendencia de Industria y Comercio - SIC (2017)
                .col-12.col-md-8
                    p La propiedad intelectual se puede interpretar como aquella disciplina jurídica que tiene por objeto la protección de bienes inmateriales de naturaleza intelectual y de contenido creativo, así como de sus actividades relacionadas.
        
        h2.tc02.text-center.mb-4 La propiedad intelectual se divide en tres categorías:

        .row.d-flex.mb-5
            .col-12.col-md-4.my-2
                .bg-09.m-n2.p-4.borderCardsD.heigthFull
                    h2.text-center SENSORIAL
                    p.text-center.mb-0 Abarca todo lo relacionado a las patentes de invención, marcas, diseños industriales y denominaciones de origen.
            .col-12.col-md-4.my-2
                .bg-03.m-n2.p-4.borderCardsD.heigthFull
                    h2.text-center DERECHO DE AUTOR
                    p.text-center.mb-0 Comprende las obras literarias, artísticas, audiovisuales y musicales, entre otras.
            .col-12.col-md-4.my-2
                .bg-09.m-n2.p-4.borderCardsD.heigthFull
                    h2.text-center OBTENCIÓN DE VARIEDADES VEGETALES
                    p.text-center.mb-0 Incluye todo lo relacionado a las variedades e innovaciones en el campo de la botánica del reino vegetal.
        
        h2.tc02.text-center La propiedad intelectual se divide en tres categorías:

        .row.d-flex.mb-0
            .col-12.col-md-4.my-2
                .m-n2.p-4.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.w-75(src="assets/images/pages/tema-2/img01.svg")
                    h2.text-center SIC
                    p.text-center.mb-0 Se encuentra a cargo de la propiedad industrial.
            .col-12.col-md-4.my-2
                .m-n2.p-4.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.w-75(src="assets/images/pages/tema-2/img02.svg")
                    h2.text-center Dirección Nacional de Derecho de Autor – DNDA
                    p.text-center.mb-0 Es responsable del derecho de autor y los derechos conexos, entre otras.
            .col-12.col-md-4.my-2
                .m-n2.p-4.borderCardsD.heigthFull
                    img.img-fluid.d-block.mx-auto.w-75(src="assets/images/pages/tema-2/img03.svg")
                    h2.text-center Aula de Propiedad Intelectual - API
                    p.text-center.mb-0 Espacio académico de sensibilización y orientación sobre propiedad intelectual; que surge como una cooperación entre las dos primeras entidades y Organización Mundial de Propiedad Intelectual – OMPI.
    
    .header-ecored#tema2_1
        h1 2.1 Copyright y propiedad intelectual

    .jumbotron.bg-white.shadow

        p.text-center.mb-4 Colombia se rige por la normatividad establecida en la Ley 23 de 1982, sobre los derechos de autor; en la cual se indica:

        .row.mb-5.justify-content-center
            .col-12.col-md-6.bg-04.p-4.text-white
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-2/img04.png")
                h1.text-center ARTÍCULO 1
                p.text-center.mb-0 Los autores de obras literarias, científicas y artísticas gozarán de protección para sus obras. 
            .col-12.col-md-6.bg-02.p-4
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-2/img05.png")
                h1.text-center ARTÍCULO 2
                p.text-center.mb-0 Los derechos del autor recaen sobre las obras científicas, literarias y artísticas las cuales comprenden todas las creaciones del espíritu en el campo científico, literario y artístico, cualquiera que sea el modo o forma de expresión y cualquiera que sea su destinación.
        
        p.text-center.mb-4 La propiedad intelectual comprende:

        .row.mb-4
            .col-12.col-md-4.d-flex.justify-content-center.align-items-center
                img.img-fluid.mb-4(src="assets/images/pages/tema-2/img06.svg")
            .col-12.col-md-8
                .cont2int
                    p El derecho de autor y los derechos conexos.
                .cont2int
                    p La propiedad industrial.
                .cont2int
                    p Los derechos de los obtentores de variedades vegetales.
                .cont2int
                    p El conocimiento tradicional y la protección del folclor (en armonía con las disposiciones que regulan las relaciones de la Comunidad Andina de Naciones - CAN).            

        .bg-04.py-3
            .quote.text-white
                img.imgLeft2(src="assets/images/pages/tema-2/img09.svg")
                .w-75.mx-auto
                    h2 Recuerde:
                    p Los derechos de autor se encuentran regulados en nuestro país por la Ley 23 de 1982 y la Decisión 351 de 1993.                
                    img.imgRigth2(src="assets/images/pages/tema-2/img10.svg")

        .header-ecored
            h2 2.1.1 Derechos, permisos y licenciamientos

        p.text-center.mb-4 El régimen de propiedad intelectual en Colombia se compone de:

        .row.mb-5
            .col-6.bg-07.text-white.text-center.p-4.rounded-left
                h2.mb-0 LA PROPIEDAD INDUSTRIAL
            .col-6.bg-10.tc02.text-center.p-4.rounded-right
                h2.mb-0 LOS DERECHOS DE AUTOR
        
        
        .row.mb-4
            .col-12.col-md-4
                h2.tc03 La legislación colombiana permite la transferencia de los derechos patrimoniales de autor y de los derechos derivados de la propiedad industrial.
            .col-12.col-md-8
                p Consagra la presunción de la transferencia de derechos de autor y/o de propiedad industrial, cuando han sido creadas en virtud de un contrato de obra por encargo.
                p Los productos de investigación y desarrollo de ciencia, tecnología e innovación y de tecnologías de la información y las comunicaciones, adelantados entre entidades privadas y que obtengan financiación pública, el Estado podrá ceder a título gratuito los derechos de propiedad intelectual que le correspondan, y podrá autorizar su transferencia, comercialización y explotación. Como contraprestación, el Estado se reserva el derecho de obtener una licencia no exclusiva y gratuita de estos derechos de propiedad intelectual.

        .w-75.mx-auto
            h2.tc01.text-center Los contratos relacionados con derechos de autor, como la cesión de derechos y licencia de uso exclusiva,

            p.text-center contratos en virtud de quien se disponga, negocie o licencie un derecho de patente, deben registrarse ante la oficina nacional competente para que tengan efectos frente a terceros. 
            p.mb-5.text-center Para una mayor información le invito a consultar el sitio web de la Dirección Nacional de Derecho de Autor – DNDA, en su sección de preguntas frecuentes:

            a(href="http://derechodeautor.gov.co:8080/preguntas-frecuentes" target="_blank").media-link.mx-auto  
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p
                            | #[strong Web.]
                            br
                            | Dirección Nacional de Derecho de Autor

    .header-ecored#tema2_2
        h1 2.2 Derechos de autor

    .jumbotron.bg-white.shadow

        .row.mb-4.align-items-center
            .col-12.col-md-6
                h2.tc02 El derecho de autor es la protección que le otorga el Estado al creador de las obras literarias o artísticas desde el momento de su creación y por un tiempo determinado (DNDA, s.f.). 
            .col-12.col-md-6
                p Los derechos de autor y conexos, son los que protegen las obras literarias, artísticas y científicas; y los derechos conexos que abarcan los derechos de los artistas, intérpretes productores, organismos de radiodifusión, relacionados con las interpretaciones o ejecuciones.
        
        .header-ecored
            h2 2.2.1 Derechos patrimoniales y morales
        
        .row.mb-4.align-items-center
            .col-4.bg-10.text-white.p-4.rounded-left
                h2.mb-0 Según la Ley Nº 23 de 1982, en el artículo 72.
            .col-8.p-4
                p.mb-0 El derecho patrimonial del autor se causa desde el momento en que la obra o producción, susceptible de estimación económica y cualquiera que sea su finalidad, se divulgue por cualquier forma o modo de expresión.

        .row.bg-07.rounded
            .col-12.col-md-5.mb-4.mb-md-0.p-4
                img.img-fluid.d-block.mx-auto(src="assets/images/pages/tema-2/img08.svg")
            .col-12.col-md-7.text-white.p-4
                h2 Artículo 73
                p En todos los casos en que los autores o las asociaciones de autores, celebren contratos con los usuarios o con las organizaciones que los representen, respecto al derecho de autor, por concepto de ejecución, representación, exhibición y, en general, por uso o explotación de las obras protegidas por la presente ley, serán las tarifas concertadas en los respectivos contratos, las que tendrán aplicación, siempre que no sean contrarias a los principios consagrados por la misma.
        
        .header-ecored
            h2 2.2.1 Derechos patrimoniales y morales
        
        .row.bg-03.rounded.mb-6.d-flex
            .col-12.col-md-5.bg-02.d-flex.justify-content-center.align-items-center
                h1.mb-2.text-white En Colombia el registro de obras es un trámite que puede realizarse de forma presencial o en línea.
            .col-12.col-md-7
                .element2.bg-02
                div.zIndex
                    p.bg-white.rounded.m-4.p-4.zIndex Para el caso presencial, se debe descargar un formulario y enviarlo por correo o llevarlo personalmente a la DNDA en la ciudad de Bogotá. También se puede realizar el registro en línea, creando una cuenta en el sitio web.
        
        .w-75.mx-auto
            h2.text-center Tipos de obras protegidas por el derecho de autor:

            p.text-center La Decisión 351 de 1993, en su artículo 4º señala la protección de todas las obras literarias, artísticas y científicas que puedan reproducirse o divulgarse por cualquier forma o medio conocido o por conocer, entre estas obras se encuentran:
        
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            h2.mb-0.collapsable-title Obras literarias
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        p Forma de expresar ideas, plasmadas o susceptibles de serlo en un escrito tangible o en cualquier tipo de soporte, como libro, folleto y otros escritos; conferencias, alocuciones, sermones y otras obras de la misma naturaleza, en esta categoría también se encuentran las obras con carácter científico (Ley 23 de 1982, artículo 2).
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            h2.mb-0.collapsable-title Obras artísticas
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        p Creación artística cuya finalidad apela al sentido estético de la persona que la contempla, como las pinturas, dibujos, grabados y litografías (Decisión 351 de 1993, artículo 3). 
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            h2.mb-0.collapsable-title Obras musicales
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        p Creación que abarca toda clase de combinaciones de sonidos (composición) con o sin texto (letra).
            .card
                #heading4.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='false', aria-controls='collapse4')
                            h2.mb-0.collapsable-title Obra audiovisual
                #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                    .card-body
                        p "toda creación expresada mediante una serie de imágenes asociadas, con o sin sonorización incorporada, que esté destinada esencialmente a ser mostrada a través de aparatos de proyección o cualquier otro medio de comunicación de la imagen y de sonido, independientemente de las características del soporte material que la contiene" (Decisión 351 de 1993, artículo 3).
            .card
                #heading5.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='false', aria-controls='collapse5')
                            h2.mb-0.collapsable-title Programa de ordenador o software
                #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                    .card-body
                        p "Expresión de un conjunto de instrucciones mediante palabras, códigos, planes o en cualquier otra forma que, al ser incorporadas en un dispositivo de lectura automatizada, es capaz de hacer que un ordenador -un aparato electrónico o similar capaz de elaborar informaciones-, ejecute determinada tarea u obtenga determinado resultado. El programa de ordenador comprende también la documentación técnica y los manuales de uso" (Decisión 351 de 1993, artículo 3).
            .card
                #heading6.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='false', aria-controls='collapse6')
                            h2.mb-0.collapsable-title Fonograma
                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                    .card-body
                        p "Toda fijación exclusivamente sonora de los sonidos de una representación o ejecución o de otros sonidos. Las grabaciones gramofónicas y magnetofónicas se consideran copias de fonogramas" (Decisión 351 de 1993, artículo 3).
            .card
                #heading7.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='false', aria-controls='collapse7')
                            h2.mb-0.collapsable-title Bases de datos
                #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                    .card-body
                        p “Las bases de datos son protegidas siempre que la selección o disposición de las materias constituyan una creación intelectual. La protección concedida no se hará extensiva a los datos o información compilados, pero no afectará los derechos que pudieran subsistir sobre las obras o materiales que la conforman.” (Decisión 351 de 1993, artículo 25).             