.container

    .header-ecored
        h1 4. Bocetación 

    .jumbotron.bg-white.shadow

        .row.bg-03.rounded
            .col-12.col-md-5.mb-4.mb-md-0.p-4
                img.img-fluid.d-block.mx-auto(src="assets/images/pages/tema-4/img01.svg")
            .col-12.col-md-7.p-4
                p Pese a todo lo antes mencionado, el ejercicio creativo no está sujeto a pre-requisitos y salvo que exista una solicitud muy específica en la documentación inicial de un proyecto, no se preconcibe la figura literaria o el discurso detrás de una obra con anterioridad a su creación.
                p Los recursos existen y al conocerlos y entenderlos podemos acercarlos a nuestro estilo y crear algo que comunique y cuya intención eventualmente sea objeto de análisis. Pero finalmente para crear hay que hacer y practicar. La bocetación es un ejercicio creativo clave e impostergable, de los primeros y más importantes pasos previos del diseño.
        

    .header-ecored#tema4_1
        h1 4.1 Definición y tipos

    .jumbotron.bg-white.shadow

        .w-75.mx-auto.mb-4
            p.text-center El boceto es una práctica gráfica para bosquejar ideas y plasmarlas visualmente como parte del proceso creativo. Es una ilustración rápida y sin detalles ni acabados. El boceto es una herramienta práctica empleada en muchos medios creativos incluyendo obviamente, el diseño, pero también en la arquitectura, diseño industrial y de modas, animación y naturalmente, arte e ilustración.
        
        .row.d-flex.mb-6
            .col-12.col-md-3.bg-10.text-white.p-4.rounded.d-flex.align-items-center
                p.pS28L.mb-0 Algunas características que el boceto tiene y con las que debe cumplir para que su labor sea exitosa incluyen:
            .col-12.col-md.col-9.p-4
                h2.tc02.mb-2 Estar acompañados de apuntes o anotaciones,
                p Las ideas tienden a desvanecerse, así que, a pesar de la simpleza del dibujo, es importante tomar nota de los detalles.

                h2.tc02.mb-2 Debe ser representativo, 
                p Eso quiere decir que no es necesario desgastarse en detalles. Se recomienda el uso de formas simples.

                h2.tc02.mb-2 Se debe elaborar rápidamente,
                p Si la elaboración del boceto lleva varias horas o días, el concepto de boceto no está claro. Es un ejercicio de algunos minutos y se debe realizar relajadamente.

                h2.tc02.mb-2 El boceto nunca se trabaja a tamaño final,  
                p Siempre debe ser una representación a escala del proyecto a realizar.
        
        .w-50.mx-auto.mb-4
            img.img-fluid.d-block.mx-auto(src="assets/images/pages/tema-4/img02.svg")
            hr.hrC.mb-5
            h2.text-center.tc02.mb-2 En cuanto a los tipos, estos pueden ser:

        .row
            .col-6.col-md-4.bg-05.p-4
                h2.text-center DIBUJO ESPONTÁNEO
                p.text-center.mb-0 Se raya aleatoriamente sin tener nada específico en mente, luego se “busca” entre las líneas la posible figura a trabajar.
            .col-6.col-md-4.bg-03.p-4
                h2.text-center BOCETO - MINI
                p.text-center.mb-0 Ya se ha dicho que un boceto debe estar a escala, sin embargo, en este tipo de boceto se hace más pequeño para disminuir los detalles.
            .col-6.col-md-4.bg-05.p-4
                h2.text-center BOCETO QUEMADO
                p.text-center.mb-0 Se rellena la forma para evaluar la contraforma, esto permite evaluar la legibilidad y el uso del espacio.
            
            .col-6.col-md-4.bg-03.p-4
                h2.text-center BOCETO DE CONTORNO
                p.text-center.mb-0 El nombre lo explica, sólo se dibujan los contornos con mínimos detalles, es ideal para la construcción de escenas grandes.
            .col-6.col-md-4.bg-05.p-4
                h2.text-center EXPERIMENTACIÓN DE MANCHAS
                p.text-center.mb-0 Similar al dibujo espontáneo, pero se utilizan áreas de tinta o alguna aguada y de allí se extraen las ideas.
            .col-6.col-md-4.p-4
                p.text-right.pS28L.mb-0 Finalmente, existen algunos niveles en el desarrollo de los bocetos, para una misma idea, un boceto burdo, el semi-completo y el dummy (Hurtado, s.f.).
        
    .header-ecored#tema4_2
        h1 4.2. Técnicas, la bitácora y recursos gráficos

    .jumbotron.bg-white.shadow

        .row.mb-4
            .col-12.col-md-4.d-flex.justify-content-center.align-items-center
                img.img-fluid.mb-4(src="assets/images/pages/tema-4/img03.svg")
            .col-12.col-md-8
                .cont2int
                    p Los principios que rigen la creación de bocetos son los mismos que rigen el dibujo, con la ventaja de que no es indispensable prestar tanta atención al detalle.
        
        .row.mb-5
            .col-12.col-md-4.p-4
                h2.text-center Líneas y trazos
                p.text-center.mb-0 Pueden ser rectas o curvas, continuas o discontinuas y de diferente calibre o grosor según la herramienta empleada o la presión ejercida.
            .col-12.col-md-4.bg-05.p-4.rounded
                h2.text-center Planos, luz y contorno
                p.text-center.mb-0 Lla bocetación permite, mediante el uso de sombras, simular el efecto de la luz sobre las superficies de las formas dibujadas. La práctica permite influir en la percepción y transmitir la sensación de contorno volumétrico.
            .col-12.col-md-4.p-4
                h2.text-center Construcción espacial
                p.text-center.mb-0 El uso de líneas horizontales, verticales y diagonales da lugar a la construcción de formas y la relación de dichas formas da como resultado la generación de relaciones espaciales.
        
        .row.justify-content-center
            .col-12.col-md-6.bg-07.p-4
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-4/img04.png")
                h1.text-center LA BITÁCORA
                p.text-center.mb-0.text-white Tanto en los procesos de formación como el más experto profesional, lleva o debería llevar una bitácora o libro de apuntes dedicado a la elaboración de bocetos. Estos apuntes y dibujos rápidos son la diferencia entre un proyecto con bases firmes y la improvisación.
            .col-12.col-md-6.bg-01.p-4
                img.img-fluid.d-block.mx-auto.mb-4(src="assets/images/pages/tema-4/img05.png")
                h1.text-center.tc02 RECURSOS GRÁFICOS
                p.text-center.mb-0 Lo mejor de la bocetación es que es un recurso creativo de bajo costo. Cualquier superficie es válida para rayar, si bien es más recomendable una libreta o cuaderno que permita la conservación y protección del material. Es más importante y valiosa la capacidad de observación, un entorno tranquilo y consumir material gráfico. La creatividad necesita nutrirse para poder crecer y sobresalir.