.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Boceto:
            | bosquejo para el diseñador y/o cliente que muestra la disposición de los elementos de un diseño.
        
        p
            strong.mr-2 Color primario:
            | color base usado para componer otros colores. En impresión son el cyan, magenta y amarillo. 
        p 
            strong.mr-2 Color secundario:
            | color obtenido por la mezcla de dos colores primarios. Si bien se les conoce como colorantes primarios, C, M, y Y son los colores secundarios de la luz. rojo + verde = amarillo. 
        p 
            strong.mr-2 Línea:
            | sucesión de letras separadas por espacios que forman palabras. Trazo hecho con una regla recta y un tiralíneas.
        p 
            strong.mr-2 Magenta:
            | el pigmento base utilizado en la selección de colores. También se llama rojo básico.
        p 
            strong.mr-2 Ojo:
            | el ojo del tipo es lo que se ve de la letra impresa. Es la altura y la anchura real de la letra, su perfil, el contraste de blanco y negro dentro y fuera de ella. Ojo, en el sistema de impresión tipográfico, es la parte que está en relieve y que deja huella en el papel (Pozo, 2001).
